### IntelliJ IDEA ###
.idea/
*.iml
out/

### Gradle ###
.gradle/
build/

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db